:host ::ng-deep .mdc-text-field--filled {
  border-bottom: 1px solid #0061ff;
}
:host ::ng-deep .mat-mdc-select-arrow {
  color: #0061ff !important;
}

.field {
  width: 100%;
}

.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.style {
  width: 790px;
}

//Estilos botones

// .btn-secondary:hover {
//   color: #0067FD;
//   background: #e0ecff;
// }

// .btn {
//   border-radius: 20px;
//   transition: all 0.025s ease;
// }

// .btn:active {
//   transform: scale(0.98);
// }

.button-container {
  justify-content: flex-end;
}

.comments-list {
  max-width: 95%;
  margin: 0 auto;

  mat-card-header {
    gap: 15px;
    align-items: center;
  }

  mat-card-content {
    max-height: 250px;
    overflow-y: scroll;
  }

  mat-card-actions {
    gap: 15px;
  }
}

.comment {
  box-shadow: none;
  border-radius: 10px;
  background-color: #f8f8f8;

  mat-card-header {
    width: 100%;
    text-align: start;

    mat-card-title {
      font-size: 18px;

      span {
        font-weight: normal;
      }

      button {
        transform: scale(0.75);
        background-color: black;
        mat-icon {
          color: #00ffb9;
        }
        margin-left: 350px;
      }
    }

    mat-card-subtitle {
      font-size: 16px;
    }
  }

  mat-card-content {
    max-height: inherit;
    overflow-y: inherit;

    p {
      font-size: 16px;
      text-align: justify;
    }

    .field {
      width: 96%;
    }
  }
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.card-text {
  background-color: rgb(247, 242, 242);
  max-width: 625px;
  border-radius: 5px;
}

.title {
  font-size: 15px;
  padding-top: 5px;
}

.flex-container {
  width: 750px;
  display: flex;
  margin: 0 auto;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.multilevel-tooltip {
  white-space: pre-line !important;
}

.style-recognition {
  width: 800px;
  overflow: auto;
}

.link {
  color: blue;
}

.filters-area {
  margin: 32px 5px 32px 32px;
  height: max-content;
}

.filters-title {
  color: #0067fd;
  font: normal normal bold 16px Roboto;
  margin-bottom: 16px;
  padding-left: 8px;
}

.filters-fields {
  padding-left: 8px;
  padding-right: 8px;
}

.filters-actions {
  margin-top: 29px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
