
<div class="flex-container flex-column  center" *ngIf="showSucces">
    <app-alert [message]="successMessage" [type]="'success'"></app-alert>
</div>
<section class="pt-5 centered-section">
    <div>
        <header>
            <h1>Reconocimientos</h1>
            <br>
            <p>Agrega comentarios para celebrar los logros de compañeros o equipos de trabajo</p>
        </header>
    </div>
</section>
<div *ngIf="{

   recognitionGeneral: combineUserTeam$ | async,
RecognitionView:recognitionView$ | async 
    
} as data">
    <mat-card class="centered-section">
        <mat-card-content class="style">
            <h3>1. ¿A quién quieres realizar un reconocimiento?
            <span class="tooltip-container">
                <mat-icon
                  matTooltip="{{ getToolTipInfo() }}"
                  matTooltipPosition="right"
                  matTooltipClass="multilevel-tooltip"
                  >help</mat-icon
                >
              </span>
            </h3>
            <form (ngSubmit)="onSubmit()" [formGroup]="recognitionForm">
                <mat-radio-group formControlName="buttonList">
                    <mat-radio-button color="primary" [value]="1" ><b>A compañero(s)</b></mat-radio-button>
                    <mat-radio-button color="primary" [value]="2" ><b>A equipo(s)</b></mat-radio-button>
                </mat-radio-group>
                <br>
                <br>
                <h3>2. Selecciona el/los destinatarios a los que deseas enviar el reconocimiento</h3>
                
                <mat-form-field appearance="fill" class="field" *ngIf="data.recognitionGeneral">
                    <mat-label>Seleccione el/los destinatarios</mat-label>
                    <mat-select formControlName="listAddressees" multiple>
                      <mat-select-trigger>
                        {{recognitionForm.value?.[0] || ''}}
                        <span *ngIf="(recognitionForm.value?.length || 0) > 1" class="example-additional-selection">
                          (+{{(recognitionForm.value?.length || 0) - 1}} {{recognitionForm.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option 
                      *ngFor="let recognition of (data.recognitionGeneral | chooseRecognition : recognitionForm.value?.buttonList)"
                            [value]="recognition.id">
                            {{recognition.description}}
                    </mat-option>
                    </mat-select>
                  </mat-form-field>


                <br>
                <h3>3. Redacta tu comentario de reconocimiento</h3>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Escribe acá tu comentario</mat-label>
                    <textarea matInput formControlName="commentDescribe" maxlength="400"></textarea>
                </mat-form-field>
                <mat-card-actions class="button-container">
                    <button mat-raised-button type="button" routerLink="/home/recognition" class="btn-cancel">
                        Cancelar
                    </button>
                    <button mat-raised-button type="submit"   class="btn-primary">
                        Crear comentario
                    </button>
                </mat-card-actions>
            </form>

        </mat-card-content >

        <mat-card>
            <div  >
                <mat-card-content class="style-recognition" >
                    <mat-card class="comment my-3" *ngFor=" let recognition of data.RecognitionView">
                        <mat-card-header>
                            <mat-card-title>
                                {{ recognition.userName }} {{ recognition.userLastName }}
                                <span>{{ recognition.commentDate }}</span>
                            </mat-card-title>
                            <mat-card-subtitle><strong>Reconocimiento</strong></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pt-2 link">{{'@' + recognition.user }} </p> <p> {{ recognition.commentDescribe }}</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-paginator [pageSizeOptions]="[ 5, 10, 15]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </div>
        </mat-card>
       
    </mat-card>
    
</div>