:host ::ng-deep .mdc-text-field--filled {
  border-bottom: 1px solid #0061ff;
}

.field {
  width: 100%;
}


.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .style{
    width: 790px;
  }

  //Estilos botones

  .btn-primary {
    color: white;
    background: #0067FD;
}

.btn-secondary {
    color: #0067FD;
    background: white;
    border: 1px solid #0067FD;
    
}

.btn-secondary:hover {
    color: #0067FD;
    background: #e0ecff;
}

.btn {
  border-radius: 20px;
  transition: all 0.025s ease;
}

.btn:active {
  transform: scale(0.98);
}

// .buttons {
//   gap: 10px;
//   display: flex;
//   align-items: center;
//   align-content: center;
//   justify-content: flex-end;
//   margin-top: 20px;
// }
.button-container {
  
  justify-content: flex-end;
}


