<section class="pt-5 centered-section">
  <div>
    <header>
      <h1>Reconocimientos</h1>
      <br />
      <p>
        Agrega comentarios para celebrar los logros de compañeros o equipos de
        trabajo
      </p>
    </header>
  </div>
</section>
<div
  *ngIf="{
    recognitionGeneral: combineUserTeam$ | async,
    RecognitionView: recognitionView$ | async
  } as data"
>
  <mat-card class="centered-section">
    <mat-card-content class="style">
      <h3>
        1. ¿A quién quieres realizar un reconocimiento?
        <span class="tooltip-container">
          <mat-icon
            matTooltip="{{ getToolTipInfo() }}"
            matTooltipPosition="right"
            matTooltipClass="multilevel-tooltip"
            >help</mat-icon
          >
        </span>
      </h3>
      <form
        (ngSubmit)="f.form.valid && onSubmit(f)"
        #f="ngForm"
        [formGroup]="recognitionForm"
      >
        <mat-radio-group formControlName="buttonList">
          <mat-radio-button color="primary" [value]="1"
            ><b>A compañero(s)</b></mat-radio-button
          >
          <mat-radio-button color="primary" [value]="2"
            ><b>A equipo(s)</b></mat-radio-button
          >
        </mat-radio-group>
        <br />
        <br />
        <h3>
          2. Selecciona el/los destinatarios a los que deseas enviar el
          reconocimiento
        </h3>

        <mat-form-field
          appearance="fill"
          class="field"
          *ngIf="data.recognitionGeneral"
        >
          <mat-label>Seleccione el/los destinatarios</mat-label>
          <mat-select formControlName="listAddressees" multiple>
            <mat-select-trigger>
              {{
                recognitionForm.value?.listAddressees != null &&
                recognitionForm.value?.listAddressees.length > 0
                  ? recognitionForm.value?.listAddressees[0].description
                  : ""
              }}
              <span
                *ngIf="
                  ((recognitionForm.value?.listAddressees != null &&
                    recognitionForm.value?.listAddressees.length) ||
                    0) > 1
                "
                class="example-additional-selection"
              >
                (+{{ (recognitionForm.value?.listAddressees.length || 0) - 1 }}
                {{
                  recognitionForm.value?.listAddressees.length === 2
                    ? "otro"
                    : "otros"
                }})
              </span>
            </mat-select-trigger>
            <mat-option
              *ngFor="
                let recognition of data.recognitionGeneral
                  | chooseRecognition : recognitionForm.value?.buttonList
              "
              [value]="recognition"
            >
              {{ recognition.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <h3>3. Redacta tu comentario de reconocimiento</h3>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Escribe acá tu comentario</mat-label>
          <textarea
            matInput
            formControlName="commentDescribe"
            maxlength="400"
          ></textarea>
        </mat-form-field>
        <mat-card-actions class="button-container">
          <button
          mat-raised-button
          type="button"
          class="btn-cancel"
          (click)="resetForm()"
        >
          Cancelar
        </button>
          <button mat-raised-button type="submit" class="btn-primary">
            Crear comentario
          </button>
        </mat-card-actions>
        <div class="flex-container flex-column center" *ngIf="showSucces">
          <app-alert [message]="successMessage" [type]="'success'"></app-alert>
        </div>
      </form>
    </mat-card-content>

    <mat-card>
      <div class="filters-area">
        <div class="filters-title">Filtrar búsqueda</div>
        <form [formGroup]="recognitionFilterForm" (ngSubmit)="searchFilters()">
          <div style="display: flex">
            <div class="filters-fields">
              <mat-form-field appearance="fill" *ngIf="data.recognitionGeneral">
                <mat-label>Personas</mat-label>
                <input
                  type="text"
                  placeholder="Personas"
                  formControlName="user"
                  matInput
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #auto="matAutocomplete"
                  [displayWith]="displayAutocomplete"
                >
                  <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option"
                  >
                    {{ option.userFullname }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="filters-fields">
              <mat-form-field>
                <mat-label>Equipo</mat-label>
                <mat-select formControlName="team">
                  <mat-option
                    *ngFor="
                      let recognition of data.recognitionGeneral
                        | chooseRecognition : 2
                    "
                    [value]="recognition"
                  >
                    {{ recognition.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filters-fields">
              <mat-form-field>
                <mat-label>Elegir rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input
                    matStartDate
                    placeholder="Fecha Inicial"
                    formControlName="dateStart"
                  />
                  <input
                    matEndDate
                    placeholder="Fecha Final"
                    formControlName="dateEnd"
                  />
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
          <div class="filters-actions">
            <button
              mat-raised-button
              type="button"
              class="btn-cancel"
              (click)="resetFilters()"
            >
              Limpiar filtro
            </button>
            <button mat-raised-button type="submit" class="btn-primary">
              Buscar
            </button>
          </div>
        </form>
      </div>
      <div>
        <mat-card-content class="style-recognition">
          <mat-card
            class="comment my-3"
            *ngFor="let recognition of data.RecognitionView"
          >
            <mat-card-header>
              <mat-card-title>
                {{ recognition.userName }} {{ recognition.userLastName }}
                <span>{{ recognition.commentDate }}</span>

                <button
                  mat-icon-button
                  (click)="recognitionResponse(recognition.commentId)"
                  matTooltip="Responder"
                >
                  <mat-icon>mode_comment</mat-icon>
                </button>
              </mat-card-title>
              <mat-card-subtitle
                ><strong>Reconocimiento</strong></mat-card-subtitle
              >
            </mat-card-header>
            <mat-card-content>
              <p class="pt-2 link">{{ "@" + recognition.user }}</p>
              <p>{{ recognition.commentDescribe }}</p>

              <form [formGroup]="recognitionResponseForm">
                <ng-container
                  *ngIf="
                    showForm &&
                    responseTextArea &&
                    responseTextArea === recognition.commentId
                  "
                >
                  <mat-form-field appearance="fill" class="field">
                    <textarea
                      matInput
                      formControlName="commentFeedbackDescribe"
                      maxlength="400"
                    ></textarea>
                  </mat-form-field>

                  <mat-card-actions class="button-container">
                    <button
                      mat-raised-button
                      type="button"
                      class="btn-cancel"
                      (click)="closeForm()"
                    >
                      Cancelar
                    </button>
                    <button
                      mat-raised-button
                      class="btn-primary"
                      (click)="responseRecognition()"
                    >
                      Responder
                    </button>
                  </mat-card-actions>
                </ng-container>
              </form>
            </mat-card-content>
          </mat-card>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 15]"
            showFirstLastButtons
          ></mat-paginator>
        </mat-card-content>
      </div>
    </mat-card>
  </mat-card>
</div>
