.flex-button {
    display: flex;
    align-items: flex-end;
    direction: rtl;
}

.title{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px; 
    color: #282828;
     
}

.message{
    font-size: 21px;
    color:#282828 ;
    margin-top: 0px;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}  

.icon-dialog{
    display:flex;
    margin: auto;
}

.mat-typography{
    position: relative;
    top: -15px;
}

.mat-dialog-title{
    position: relative;
    top: 15px;
}

.icon-close{
   position: relative;
    font-size: 20px;
}

.button-close{
    top: 20px;
    right: 20px;
    font-weight: 600;
    color: black;
    background: #FFFFFF;
}

.container-dialog{
    width: 459px;
    height: 310px;
    color: #FFFFFF;
}

.btn-primary {
    color: white;
    background: #0067FD;
    border-radius: 20px;
    margin-left: 20px;
    margin: 10px;
}

.button-cancel {
    border-radius: 20px;
    background-color: white;
    color: #0067FD;
    border: 1px solid #0067FD;
    margin: 10px;
    ::ng-deep {
        .mdc-button__label {
            color: #0067FD;
        }
    }
}

.text-center {
    text-align: center;
  }

.flex-direction-end {
    display: flex;
    justify-content: center;
}

