<div class="sidenav-container" (click)="clickedEventSidenavA(true)">
    <mat-nav-list>
        <ng-content *ngTemplateOutlet="mytiimLogo"></ng-content>
        <ng-content *ngTemplateOutlet="objectives"></ng-content>
        <ng-content *ngTemplateOutlet="recognition"></ng-content>
        <ng-content *ngTemplateOutlet="pendings"></ng-content>
        <ng-content *ngTemplateOutlet="indicators"></ng-content>
        <ng-content *ngTemplateOutlet="configuracion"></ng-content>
    </mat-nav-list>
</div>

<ng-template #mytiimLogo>
    <div mat-stroked-button class="button-top-menu"*ngIf="!isMenuOpen">
        <img src="./../../../../assets/icons/atom-logo-secondary.svg" class="icon-logo-secundary" alt="signal" />
    </div>
    <div class="flex-column" *ngIf="isMenuOpen">
        <div class="center-logo-primary">
            <img alt="mytiim" src="./../../../assets/icons/atom-logo-primary.svg" title="mytiim"
                style="margin-bottom: 20px;">
        </div>
    </div>
</ng-template>

<ng-template #objectives>
    <div mat-stroked-button class="button-menu position" (click)="alDarClickSidebar('home/objectives/list')">
        <span class="text-button-menu">
            <img src="assets/icons/atom-icon-objective.svg" class="icons-sidenav-styles ">
            <span *ngIf="isMenuOpen">Objetivos</span>
        </span>
    </div>
</ng-template>

<ng-template #recognition>
    <div mat-stroked-button class="button-menu position" (click)="alDarClickSidebar('home/recognition')">
        <span class="text-button-menu">
            <img src="../../../../assets/icons/Path - star-circle.svg" class="icons-sidenav-styles "> 
            <span *ngIf="isMenuOpen">Reconocimientos</span>
        </span>
    </div>
</ng-template>

<ng-template #pendings>
    <div *ngIf="{pendingsSurvey: updatePendingsSurvey$ | async} as data" mat-stroked-button class="button-menu position" (click)="alDarClickSidebar('home/pendings')">
        <span class="text-button-menu">
            <div style="display: flex; flex-direction: row;">
                <div [matBadge]="data.pendingsSurvey" matBadgeColor="warn" style="width: 20px;">
                    <img src="../../../../assets/icons/Path - bell.svg" class="icons-sidenav-styles">
                </div>
                <div style="margin-left: 34px;">
                    <span *ngIf="isMenuOpen">Mis pendientes</span>
                </div>
            </div>
        </span>
    </div>
</ng-template>


<ng-template #indicators>
    <div mat-stroked-button class="button-menu position" (click)="alDarClickSidebar('home/metrics')">
        <span class="text-button-menu">
            <img src="../../../../assets/icons/Path - chart-timeline-variant.svg" class="icons-sidenav-styles "> 
            <span *ngIf="isMenuOpen">Indicadores</span>
        </span>
    </div>
</ng-template>

<ng-template #configuracion>
    <div mat-stroked-button class="button-menu position" *ngIf="!isMenuOpen">
        <span class="text-button-menu">
            <img src="assets/icons/configuration-icon.svg" class="icons-sidenav-styles">
            <span *ngIf="isMenuOpen">Configuración</span>
        </span>
    </div>
    <mat-expansion-panel class="styles-expansion-panel icon-arrow" *ngIf="isMenuOpen">
        <mat-expansion-panel-header >
            <div mat-stroked-button class="button-menu">
                <span class="text-button-menu">
                    <img src="assets/icons/configuration-icon.svg" class="icons-sidenav-styles">
                    <span >Configuración</span>
                </span>
            </div>
        </mat-expansion-panel-header>
        <mat-nav-list >
            <mat-expansion-panel class="styles-expansion-panel icon-arrow">
                <mat-expansion-panel-header>
                    <div mat-stroked-button class="button-menu">
                        <span class="text-button-menu">
                            Seguimiento
                        </span>
                    </div>
                </mat-expansion-panel-header>
                <mat-nav-list class="mat-nav-list-lvl-1">
                    <div mat-stroked-button class="button-menu" (click)="alDarClickSidebar('home/configuration/follow-up/continuous-survey')">
                        <span mat-button  class="text-button-menu">
                            <span>
                                Encuesta de
                            </span><br>
                            <span>
                                seguimiento continuo
                            </span>
                        </span>                      
                    </div>
                </mat-nav-list>
                <mat-nav-list class="mat-nav-list-lvl-1">
                    <div mat-stroked-button class="button-menu" (click)="alDarClickSidebar('home/configuration/follow-up/close-survey')">
                        <span mat-button  class="text-button-menu">
                            <span>
                                Encuesta de
                            </span><br>
                            <span>
                                cierre del periodo
                            </span>
                        </span>                      
                    </div>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>