<div class="sidenav-container">
    <mat-nav-list>
        <ng-content *ngTemplateOutlet="mytiimLogo"></ng-content>
        <ng-content *ngTemplateOutlet="objectives"></ng-content>
        <ng-content *ngTemplateOutlet="recognition"></ng-content>
        <ng-content *ngTemplateOutlet="configuracion"></ng-content>
    </mat-nav-list>
</div>

<ng-template #mytiimLogo>
    <div class="flex-column">
        <div class="center-logo-primary">
            <img alt="mytiim" src="./../../../assets/icons/atom-logo-primary.svg" title="mytiim"
                style="margin-bottom: 20px;">
        </div>
    </div>
</ng-template>

<ng-template #objectives>
    <div mat-stroked-button class="button-menu position" (click)="alDarClickSidebar('home/objectives/list')">
        <span class="text-button-menu">
            <img src="assets/icons/atom-icon-objective.svg" class="icons-sidenav-styles "> Objetivos
        </span>
    </div>
</ng-template>

<ng-template #recognition>
    <div mat-stroked-button class="button-menu position" (click)="alDarClickSidebar('home/recognition')">
        <span class="text-button-menu">
            <img src="../../../../assets/icons/Path - star-circle.svg" class="icons-sidenav-styles "> Reconocimientos
        </span>
    </div>
</ng-template>

<ng-template #configuracion>
    <mat-expansion-panel class="styles-expansion-panel icon-arrow">
        <mat-expansion-panel-header >
            <div mat-stroked-button class="button-menu">
                <span class="text-button-menu">
                    <img src="assets/icons/configuration-icon.svg" class="icons-sidenav-styles"> Configuración
                </span>
            </div>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-expansion-panel class="styles-expansion-panel icon-arrow">
                <mat-expansion-panel-header>
                    <div mat-stroked-button class="button-menu">
                        <span class="text-button-menu">
                            Seguimiento
                        </span>
                    </div>
                </mat-expansion-panel-header>
                <mat-nav-list class="mat-nav-list-lvl-1">
                    <div mat-stroked-button class="button-menu" (click)="alDarClickSidebar('home/configuration/follow-up/continuous-survey')">
                        <span mat-button  class="text-button-menu">
                            <span>
                                Encuesta de
                            </span><br>
                            <span>
                                seguimiento continuo
                            </span>
                        </span>                      
                    </div>
                </mat-nav-list>
                <mat-nav-list class="mat-nav-list-lvl-1">
                    <div mat-stroked-button class="button-menu" (click)="alDarClickSidebar('home/configuration/follow-up/close-survey')">
                        <span mat-button  class="text-button-menu">
                            <span>
                                Encuesta de
                            </span><br>
                            <span>
                                cierre del periodo
                            </span>
                        </span>                      
                    </div>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>