.sidenav-container {
    color: white;
}

.styles-expansion-panel {
    background-color: #282828;
    color: white;
    box-shadow: none;
}



.button-top-menu {
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    border-style: none;
    padding: 9px;
    padding-right: 0px;
    padding-left: 35px;
    margin-right: 0px;
    height: 121px;
}

.style-icon {
    width: 24px;
    height: 24px;
   
}

.text-button-menu {
    color: white;
    text-align: start;
    font: normal normal bold 20px Roboto;
}

.mat-nav-list-lvl-1 {
    margin-left: 20px;
}

.icons-sidenav-styles {
    margin-right: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center-logo-primary {
    align-self: center;
}

.position {
    margin-left: 24px;
}
