.alert-style {
    background-color: #282828;
    margin-top: 10px;
    color: white;
}

.border-bottom-error {
    border-bottom: 5px solid red;
}

.border-bottom-success {
    border-bottom: 5px solid #03ffb1;
}

.border-bottom-info {
    border-bottom: 5px solid #0058eb;
}

.border-bottom-warning {
    border-bottom: 5px solid yellow;
}

.text-center {
    text-align: center;
}
