.main-view {
    // background-color: #f2f7f9 !important;
    background-color: #ffffff !important;
    height: 1000px;
}

.sidenav-styles {
    background-color: #282828;
    width: 349px;
    // position: fixed;
    // z-index: 1000;
}