.flexbox-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.flex-center {
    align-self: center;
}

.field {
    width: 711px;
}

.toggle-class {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 40px;
    background: #0067FD;
    border-radius: 20px;
    margin-left: 20px;
    width: 166px;
}

.left-flex {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    flex-direction: row-reverse;
}

::ng-deep {
    .mdc-button__label {
        color: white;
    }
}

.header-table {
    background-color: #282828;
    color: white;
}

.header-table-cell {
    color: white;
}

.actions {    
    button {
        transform: scale(0.75);
        background-color: black;
        
        mat-icon {
            color: #00FFB9;
        }
    }
}

.title {
    text-align: left;
    font: normal normal bold 24px/33px Nunito;
    letter-spacing: 0.18px;
    color: #282828;
    opacity: 1;   
}

.space-between-title {
    margin-bottom: 40px;
}