<div *ngIf="{questions: questions$ | async} as data" class="flexbox-container" >
    <div class="flex-center">
      <div class="space-between-title">
        <span class="title">Encuesta de seguimiento continuo</span>
      </div>
      <div>
        <span>Elije la pregunta que quieres incluir en la encuesta</span>
      </div>
      <div>
        <ng-content *ngTemplateOutlet="formSurveyA; context: data"></ng-content>
      </div>
      <div>
        <ng-content *ngTemplateOutlet="tableSurvey; context: data"></ng-content>
      </div>
    </div>
</div>

<ng-template #formSurveyA let-questions="questions">
    <form [formGroup]="formSurvey" (ngSubmit)="submitSurvey()">
        <mat-form-field appearance="fill" class="field">
            <mat-label>Lista de preguntas</mat-label>
            <mat-select formControlName="questionId">
              <mat-option>-- Busca aqui tu métrica --</mat-option>
              <mat-option *ngFor="let question of questions" [value]="question?.questionId">
                {{  question?.describe }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle labelPosition="before" formControlName="isRequired" class="toggle-class">Pregunta obligatoria</mat-slide-toggle>
          <div class="left-flex">
            <button mat-button color="primary" class="btn-primary" type="submit" cdkTrapFocus>
              Agregar pregunta
            </button>
          </div>
    </form>
</ng-template>

<ng-template #tableSurvey let-questions="questions">
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="header-table-cell"> Codigo</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="questionDescribe" >
            <th mat-header-cell *matHeaderCellDef class="header-table-cell"> Enunciado de la pregunta</th>
            <td mat-cell *matCellDef="let element" > 
                <span matTooltip="" matTooltipPosition="right" >
                    {{element.questionDescribe}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="isRequired" >
          <th mat-header-cell *matHeaderCellDef class="header-table-cell"> obligatoria </th>
          <td mat-cell *matCellDef="let element"> 
              <span matTooltip="" matTooltipPosition="right" >
                  {{element.isRequired ? 'SI': 'NO'}}
              </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table-cell"> Acciones</th>
            <td mat-cell *matCellDef="let element">
                <div class="actions">
                    <button mat-icon-button matTooltip="Eliminar Pregunta" (click)="popConfirmDelete(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *matNoDataRow>
        No hay datos disponibles para mostrar
    </div>
    <mat-paginator [pageSizeOptions]="[ 10, 15, 20]" showFirstLastButtons></mat-paginator>
    <app-alert *ngIf="showAlert" [message]="messageAlert" [type]="alertType"></app-alert>
  </div>  
</ng-template>
