.field {
    width: 711px;
}

.toggle-class {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.left-flex {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    flex-direction: row-reverse;
}

::ng-deep {
    .mdc-button__label {
        color: white;
    }
}

.header-table {
    background-color: #282828;
    color: white;
}

.header-table-cell {
    color: white;
}

.actions {    
    button {
        transform: scale(0.75);
        background-color: black;
        
        mat-icon {
            color: #00FFB9;
        }
    }
}

.space-between-title {
    margin-bottom: 40px;
}