.btn-primary {
    margin: 5px;
    background: #0067FD !important;
    border-radius: 100px !important;
    width: 166px ;
    color: white !important;
}

.btn-cancel {
    border: 2px solid var(---0067fd) !important;
    border: 2px solid #0067FD !important;
    color: #0067FD !important;
    border-radius: 20px !important;
    opacity: 1 !important;
    margin: 5px;
}