.text-title-1 {
    text-align: left;
    font: normal normal bold 24px/33px Nunito;
    letter-spacing: 0.18px;
    color: #282828;
    opacity: 1;
}

.text-description-1 {
    text-align: left;
    font: normal normal normal 16px/17px Nunito;
    letter-spacing: 0.12px;
    color: #282828;
    opacity: 1;
}

.text-subtext-1 {
    text-align: left;
    font: normal normal bold 13px/20px Roboto;
    letter-spacing: 0.23px;
    color: #7E7E7E;
    opacity: 1;
}