:host ::ng-deep .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #00FFB1;
}

.spinner-container{
    background-color: #989d9a;
}

span {
font-size: 13px;
color:#fffafa ;
}


