.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

//   .btn {
//     border-radius: 20px;
//     transition: all 0.025s ease;
// }

// .btn:active {
//     transform: scale(0.98);
// }
