

<div class="pt-5 centered-section">
    <div style=" margin-left: 23px; width: 80%;" >
        <header>
            <h1>Mis pendientes</h1>
            <br>
            <p>Acá puedes ver actividades que tienes pendientes por realizar.</p>
        </header>
    </div>
    <div style="width: 80%;">
        <section *ngIf="{pendingsSurvey: pendingsSurvey$ | async} as data" >
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        <button class="button-counter" mat-mini-fab disabled >
                            {{data.pendingsSurvey?.follow?.length}}
                        </button>
                          Seguimiento continuo
                        </mat-panel-title>
                    </mat-expansion-panel-header>   
                    <mat-list>
                        <mat-list-item *ngFor="let follow of data.pendingsSurvey?.follow" class="item-list-pendings">
                            <div class="container">
                                <span class="color-text-code">({{follow.code}}) </span><span class="text-describe">{{follow.describe}}</span>
                                <button mat-button class="btn-primary left-aligh" (click)="onClickedFollow(follow.pollId)" cdkTrapFocus>
                                    Responder
                                </button>
                              </div>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
              
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button class="button-counter" mat-mini-fab disabled >
                            {{data.pendingsSurvey?.closures?.length}}
                        </button>
                        Cierre del período
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-list>
                    <mat-list-item *ngFor="let closures of data.pendingsSurvey?.closures" class="item-list-pendings">
                        <div class="container">
                            <span class="color-text-code">({{closures.code}})</span> <span class="text-describe">{{closures.describe}}</span>
                            <button mat-button class="btn-primary left-aligh" (click)="onClickedClosures(closures.pollId)" cdkTrapFocus>
                                Responder
                            </button>
                        </div>
                        
                    </mat-list-item>
                </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
        
        </section>
    </div>
</div>

<form [formGroup]=" pendingSurveyForm">
    <ng-template #seguimientoContinuo>

