<div class="flex-container flex-column">
    <div class="center">
        <div class="flex-container">
            <div class="img-bienvenido">
                <img alt="ilustrations" src="./../../../assets/img/ilustracion.png" title="ilustrations">
            </div>
            <div class="texto-bienvenido-content">
                    <b class="texto-bienvenido">
                        <span class="margen-renglones"><br></span>
                        <span class="margen-renglones">Bienvenido a un espacio para <br></span>
                        <span class="margen-renglones"><span class="sub-text">crecer en equipo,</span> conversar y<br></span>
                        <span class="margen-renglones">checar tu desempeño</span>
                    </b>
            </div>
        </div>
    </div>
</div>


