
<div class="centered-container" class="centered-card">
  <mat-card class="centered-card">

    <mat-card-header>
      <mat-card-title class="style-tittle"><b>Cambiar clave</b> </mat-card-title>
      <mat-card-subtitle class="style-subtitle"> Por seguridad debes cambiar tu clave </mat-card-subtitle>
    </mat-card-header>

    <div class="form-container">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <button class="example-form " matPrefix mat-icon-button color="primary">
            <mat-icon class="icon">lock</mat-icon>
          </button>
          <input formControlName="newPassword" matInput type="password" placeholder="Clave nueva">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <button matPrefix mat-icon-button color="primary">
            <mat-icon class="icon">lock</mat-icon>
          </button>
          <input formControlName="confirmPassword" matInput type="password" placeholder="Confirmar  clave">
        </mat-form-field>

        <button class="button-cambiar-contraseña" mat-button 
          [disabled]="!changePasswordForm">Cambiar clave</button>

      </form>
    </div>
  </mat-card>
</div>
  <div *ngIf="showError">
    <app-alert  [message]="errorMessage" [type]="'error'" ></app-alert>
</div>






