:host ::ng-deep .mdc-text-field--filled {
    border-bottom: 1px solid #0061ff;
}

  
.example-full-width {
    width: 100%;
}

.button-cambiar-contraseña {
    background-color: #0061FF;
    color: white !important;
    border-radius: 30px;
    width: 396px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

.icon {
    color: #0067FD;
}

.centered-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 656px;
    height: 431px;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
  }

 .style-tittle{
     display: flex;
     justify-content: center;
     align-items: center;
    font-size: 32px;
    --title-font: 'Nunito', sans-serif;
    font-family: var(--title-font);
    position: relative;
    top: -70px;
 }

.style-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000DE;
    font-size: 24px;
    --title-font: 'Nunito', sans-serif;
    font-family: var(--title-font);
    position: relative;
    top: -50px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 396px;
}
 

